body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Custom css styles*/
.ppalDiv {margin-top:50px}
.commonMargin {margin-top: 15px}
.tblHeader {color:cadetblue}
.btnStyle {background-color:cadetblue; color:white}
.btnClose {background-color: dimgrey;color: white}
.iconPointer {
    cursor: pointer;
    font-size: 18px;
}
.editLink {
    color: #7EA05F;
}
.editLink:hover {
    color: #4c6338;
}
.deleteLink {
    color: #A0615F;
}

.deleteLink:hover {
    color: #9a423f;
}