@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h2>MUNICIPIO</h2>
        <p>
            <span>Cada municipio permite guardar los siguientes campos:</span><br />
            <ul>
                <li>Código numérico único</li>
                <li>Texto como nombre del municipio</li>
                <li>Estado que puede ser Activo o Inactivo</li>
                <li>Ejemplo de un municipio (código: 5005, nombre: “Santa rosa”, estado: Inactivo)</li>
            </ul>
        </p>
        <h2>REGIÓN</h2>
        <p>
            <span>Cada región permite guardar los siguientes campos:</span><br />
            <ul>
                <li>Código numérico único</li>
                <li>Texto como nombre de la región</li>
                <li>Ejemplo de una región (código: 7, nombre: “Valle de aburrá”)</li>
            </ul>
        </p>

        <h2>TENER PRESENTE QUE</h2>
        <p>
            <span>Cada región permite guardar los siguientes campos:</span><br />
            <ul>
                <li>Una región contiene municipios y puede tener ninguno o varios municipios asociados</li>
                <li>Se debe poder listar, editar y eliminar los MUNICIPIOS</li>
                <li>Se debe poder listar, editar y eliminar las REGIONES.</li>
                <li>Al editar una región se debe poder agregar o quitar municipios.</li>
                <li>Un municipio puede estar en diferentes regiones, por ejemplo el municipio “Medellín”
                    puede estar en una región “Andina”, también en una región “Valle de aburra”, otra“Latina”,
                    “Paisa”... etc.
                </li>
                <li>
                    Los municipios que tienen las regiones solo puede ser municipios con estados activos, si
                    al editar un municipio se pone a estado “Inactivo”, este municipio ya no pertenece a la
                    región(Es decir que la asociación desaparece).
                </li>
            </ul>
        </p>
    </div>